################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyCoreApp/.vs/MyCoreApp/DesignTimeBuild/.dtbcache.v2
/MyCoreApp/.vs/MyCoreApp/FileContentIndex
