@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, <i>Devendra</i></h1>
    <h2>@System.DateTime.Now.ToString("dd MMM yyyy")</h2>
    <h3>DevOps practice with .Net Application</h3>
</div>
