@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Devendra Sunaria JenKins</h1>
    <p>This is First Project with DevOps for Web apps with ASP.NET Core</p>
    <h2>@System.DateTime.Now.ToString("dd MMM yyyy")</h2>
    <h3>Now Process is starting....</h3>
</div>
