@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Devendra Sunaria</h1>
    <p>This is First Project with DevOps for Web apps with ASP.NET Core</p>
</div>
