@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkcyan;"><strong>Welcome, <i>Devendra</i></strong></h1>
    <h2 style="color:darkviolet;">@System.DateTime.Now.ToString("dd MMM yyyy")</h2>
    <h3 style="color:crimson;">DevOps practice with .Net Application</h3>
</div>
